
#sigmaTest {
    max-width: inherit;
    height: 200px;
    margin: auto;
}

body{
    padding-top: 90px;
}

#navbar-menu-collapse a{
    font-size: medium;
}

form {
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

#sampleGraph{
    height: 150px;
}


a:focus{
    outline: 0;
}